/*
* Variables
*/

/* Colors */
$color-logo : #D04F4F;
$color-grey: #E7E7E7;
$color-input-ingredients: #3282F7;
$color-input-device: #68D9A4;
$color-input-kitchenTool: #ED6454;


/* Breakpoints */
$breakpoints: (mobile: 768px, tablet:900px, desktop:1024px);