.recipe {

    aspect-ratio: 1/1;
    box-sizing: border-box;
    overflow: hidden;

    .recipe-header {
        height: 40%;
    }

    .justify-content-between:last-child {
        height: 60%;
        overflow: hidden;
    }

    span,
    li {
        margin: 0;
        padding: 0;
    }

    p {
        text-overflow: ellipsis;
        margin-bottom: 0;
    }

    .recipe-description.card-text {
        position: relative;
    }

    span:first-child {
        font-weight: 600;
    }

    .card-img-top {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 100%;
        overflow: hidden;

        img {
            object-fit: cover;
            width: 100%;
        }
    }

    section.card-body {
        height: 50%;

        .time {
            span {
                font-size: 18px;
            }
        }
    }
}