.inputBtn {
    position: relative;
    width: 170px;
    border: none;

    &.d-block {
        width: auto;
    }

    input {
        color: #FFF;
        text-align: initial;
        cursor: auto !important;

        &.btn:focus,
        &.btn:focus-visible,
        &.btn:focus-within {
            outline: transparent;
            box-shadow: unset;
        }

        &.btn:focus::placeholder,
        &.btn:focus-within::placeholder {
            color: transparent;
        }

        &::after {
            cursor: pointer;
        }
    }

    button.rotate::after {
        transform: rotate(180deg);
    }

    input.btn::placeholder,
    button::after,
    input.btn:hover {
        color: #FFF;
    }

    button.btn.dropdown-toggle:focus {
        box-shadow: unset;
    }

    .dropdown-menu.d-block {
        display: flex !important;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        left: 0;
        right: 0;
        border: none;
        border-radius: 0 0 .25rem .25rem;
        transform: translateY(-.32rem);
        width: fit-content;
        box-sizing: content-box;

        .dropdown-items {
            color: #FFF;
            margin: 1rem;
            display: flex;
            flex-direction: column;

            a {
                width: 12vmax;
                display: inline-block;
            }
        }
    }

    .input-group-prepend .btn {
        position: unset;
    }
}