#searchBar {

    .search {
        background: $color-grey;

        input:focus {
            outline: none;
        }

    }

    .error-message {
        margin: 5px;
        font-size: 90%;
        color: red;
    }
}